/* Site styling */
body {
  background-color: #f5f4f4;
  line-height: 1.2em;
  font-family: "Noto Sans JP", sans-serif;
  color: #080808;
}

h2 {
  font-family: "Roboto Mono", sans-serif;
  line-height: 1.2em;
}

h3 {
  margin: 10px auto;
  color: #41494e;
  font-size: 18px;
  padding: 10px;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5em;
}

p {
  padding: 15px 40px;
  text-align: left;
  font-size: 16px;
  font-weight: lighter;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #3a5261;
}

a:hover {
  text-decoration: underline;
  color: #000000;
}

button {
  width: 130px;
  height: 38px;
  margin: 0 auto;
  font-size: 15px;
  background-color: #8a9aa5;
  color: white;
  font-family: "Roboto Mono", sans-serif;
  border-style: none;
  border-radius: 30px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

button:hover {
  background-color: #bea8a0;
  cursor: pointer;
}

.container {
  width: 50%;
  /* This sets the width */
  margin: 0 auto;
}

#logo {
  width: 180px;
  padding: 5px;
  margin: 10px auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

#logo-dutchie {
  width: 150px;
  padding: 1px 10 10px 0px;
}

.list-inline li {
  display: inline-block;
  font-size: 40px;
  margin: 10px 30px;
  color: #1b3749;
  list-style: none;
  padding-left: 0px;
}

.header-card,
.about-card,
.socials-card {
  background-color: #ffffff;
  padding: 30px;
  margin: 20px auto;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 8%);
}

/* Typewriter for title */
.typewriter h2 {
  overflow: hidden;
  font-size: 26px;
  font-family: "Roboto Mono", sans-serif;
  color: #74818a;
  width: fit-content;
  height: 45px;
  margin: 0 auto;
  border-right: 0.14em solid #ffc7c7;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 3s steps(45, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: #5d676e;
  }
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}